
@{ ViewBag.Title = "JavaScript";}


<h2>This page shows JS methods, you can check them individually.</h2>
<div>
    <ul class="ulnone" style="width:500px;">
        <li>@Html.ActionLink("Range of a variable", "JS_RangeOfAVariable", "JavaScript")</li>
        <li>@Html.ActionLink("Each array in JS is a dynamic", "JS_DynamicArray", "JavaScript")</li>
        <li>@Html.ActionLink("Define a own object", "JS_DefineOwnObject", "JavaScript")</li>
        <li>@Html.ActionLink("Validation in JS", "JS_Validation", "JavaScript")</li>
        <li>@Html.ActionLink("Confirm box in JS", "JS_Confirm", "JavaScript")</li>
        <li>@Html.ActionLink("Dot to Img", "JS_DotToImg", "JavaScript")</li>
        <li>@Html.ActionLink("Check JS running time", "JS_CountTime", "JavaScript")</li>
        <li>@Html.ActionLink("Test closure", "JS_Closure", "JavaScript")</li>
        <li>@Html.ActionLink("Call back", "JS_Callback", "JavaScript")</li>
    </ul>
</div>
