
@{ ViewBag.Title = "JavaScript";}


<h2>This page shows JS methods, you can check them individually.</h2>
<div>
    <ul class="ulnone" style="width:500px;">
        <li>@Html.ActionLink("Range of a variable", "JS_RangeOfAVariable", "JavaScript")</li>
        <li>@Html.ActionLink("Every array is dynamic", "JS_DynamicArray", "JavaScript")</li>
        <li>@Html.ActionLink("User_defined object", "JS_UserDefinedObject", "JavaScript")</li>
        <li>@Html.ActionLink("Validation in JS", "JS_Validation", "JavaScript")</li>
        <li>@Html.ActionLink("Confirm box in JS", "JS_Confirm", "JavaScript")</li>
        <li>@Html.ActionLink("Dot to Img", "JS_DotToImg", "JavaScript")</li>
        <li>@Html.ActionLink("Check JS running time", "JS_CountTime", "JavaScript")</li>
        <li>@Html.ActionLink("Test closure", "JS_Closure", "JavaScript")</li>
        <li>@Html.ActionLink("Call back", "JS_Callback", "JavaScript")</li>
        <li>@Html.ActionLink("Compare operation in conditional statement", "JS_CompareOperation", "JavaScript")</li>
    </ul>
</div>
