@model IQueryable<DemoWithSQL.Models.Fruits>

@{
    ViewBag.Title = "SQL_Fruits_Index";
}

<style>
    #searchTable {
        width: 100%;
    }

        #searchTable td {
            padding: 4px;
        }

        #searchTable input {
            width: 100px;
        }
</style>

<script>
    function getDetails(obj)
    {
        $(obj).children("#showDetails").css("display", "block");
    };
    function mouseleft(obj)
    {
        $(obj).children("#showDetails").css("display", "none");
    };

    Search = function ()
    {
        var searchList = new Object();
        searchList.FruitKey = document.getElementById("searchFruitKey").value;
        searchList.Name = document.getElementById("searchName").value;
        searchList.Price = document.getElementById("searchPrice").value;
        searchList.TotalNumber = document.getElementById("searchTotalNumber").value;
        searchList.PageSize = document.getElementById("PageSize").value;
        $.ajax({
            type: "post",
            data: { SearchList: searchList },
            url: "/SQLServer/SQL_Fruits_Search",
            datatype: "json",
            success: function (data)
            {
                var FruitTable = document.getElementById("FruitTable");
                var innerhtml = '<tr><td>FruitKey</td><td>Name</td><td>Price</td><td>Description</td><td>Message</td><td>CreateDate</td></tr>';
                for (var i = 0; i < data.length; i++) {
                    innerhtml += '<tr><td>' + data[i].FruitKey + '</td><td>' + data[i].Name + '</td><td>' + data[i].Price + '</td><td>' + data[i].Description + '</td><td onmouseover="getDetails(this)" onmouseout="mouseleft(this)"><p style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:390px"><xmp>' + data[i].Message + '</xmp></p><p id="showDetails" style="display:none;position:absolute;background-color:#eeeeee;padding:4px;border:1px solid black;width:430px;word-break:break-all;"><xmp>' + data[i].Message + '</xmp></p></td><td>' + data[i].CreateDate + '</td></tr>';
                }
                FruitTable.innerHTML = innerhtml;
            },
            error: function (err)
            {

            }
        });
    };


</script>

<table style="width:100%;margin-top:10px;">
    <tr>
        <td><h4>This page shows how to use ajax do search and paging.</h4></td>
        <td align="right">@Html.ActionLink("Create New", "SQL_Fruits_Create", "SQLServer")</td>
    </tr>
</table>

<table id="searchTable">
    <tr>
        <td width="68">Fruit Key:</td>
        <td width="110"><input id="searchFruitKey" /></td>
        <td width="50">Name:</td>
        <td width="110"><input id="searchName" /></td>
        <td width="44">Price: </td>
        <td width="110"><input id="searchPrice" /></td>
        <td width="92">TotalNumber: </td>
        <td width="110"><input id="searchTotalNumber" /></td>
        @*<td>CreateDate: </td>
            <td><input id="searchCreateDate" /></td>*@
        <td width="50"><button id="search" onclick="Search()">Search</button></td>
        <td align="right">
            <select id="PageSize">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
            </select>
        </td>
    </tr>
</table>
<br />
<table id="FruitTable" class="table">
    <tr>
        <td>FruitKey</td>
        <td>Name</td>
        <td>Price</td>
        <td>Description</td>
        <td>Message</td>
        <td>CreateDate</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(model => item.FruitKey)</td>
            <td>@Html.DisplayFor(model => item.Name)</td>
            <td>@Html.DisplayFor(model => item.Price)</td>
            <td>@Html.DisplayFor(model => item.Description)</td>
            <td onmouseover="getDetails(this)" onmouseout="mouseleft(this)">
                <p style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:390px">
                    @Html.DisplayFor(model => item.Message)
                </p>
                @if (item.Message != null && item.Message != "")
                {
                    <p id="showDetails" style="display:none;position:absolute;background-color:#eeeeee;padding:4px;border:1px solid black;width:430px;word-break:break-all;">
                        @Html.DisplayFor(model => item.Message)
                    </p>
                }
            </td>
            <td>@Html.DisplayFor(model => item.CreateDate)</td>
        </tr>
    }
</table>

<div>
    <p id="PageInfo"></p>
</div>


