@model Dictionary<string, List<SelectListItem>>

@{
    ViewBag.Title = "SetAuth";
}

<html>
<head>
    <script>
        $(document).ready(function ()
        {
            var list = @Html.Raw(Json.Encode(Model.Keys));
            $.each(list, function (i, item)
            {
                $("#" + item).click(function ()
                {
                    $(this).siblings("div").find("input").attr("checked", true);
                    $(this).siblings("div").find("input").prop("checked", this.checked);
                })
            });
        });
    </script>
</head>
<body>
    @using (Html.BeginForm("Submit", "SetAuth"))
    {
        <form>
            <table class="table">
                <tr>
                    <td>
                        @TempData["Sucess"]
                        @TempData["Failed"]
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul style="list-style:none;">
                            @foreach (var item in Model)
                            {
                                <li>
                                    <input type="checkbox" id=@item.Key /><label class=@item.Key style="font-weight:normal;padding-left:4px;">@item.Key</label>
                                    <div style="margin-left:35px;">
                                        @foreach (var sub in item.Value)
                                        {
                                            @Html.CheckBox(@sub.Value, @sub.Selected)<label for=@sub.Value style="font-weight:normal;padding-left:4px;">@sub.Text</label>
                                        }
                                    </div>
                                </li>
                            }
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" id="Submit" class="btn btn-default">Submit</button>
                    </td>
                </tr>
            </table>
        </form>
    }
</body>
</html>

